//components
@import "config";
@import "../components/navbar/navbar";
@import "../components/header/header";
@import "../components/CTAcontact/ctaContact";
@import "../components/homeGallery/homeGallery";
@import "../components/feedback/feedback";
@import "../components/blog/homeblog";
@import "../components/footer/footer";
//pages
@import "../pages/home";

* {
  margin: 0;
  padding: 0;
}

.app {
  font-family: $primary-font;
  color: $primeColor-darker;
}
.secondaryTitle {
  font-size: 3rem;
  color: $primeColor-darker;
  font-weight: bolder;
  &.home1 {
    padding: 7vh 0 3vh 0;
  }

  &.home3 {
    padding: 0vh 0 10vh 0;
  }
}
.swiper-button-prev,
.swiper-button-next {
  top: 45%;
  color: $primeColor-darker;
}
.swiper-pagination-bullet {
  opacity: 1;
  background: none;
  border: 1px solid $primeColor-darker;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: $primeColor-darker;
}
.main {
  display: flex;
  margin: 15vh 5%;

  img {
    width: 100%;
    height: 100%;
  }
  p {
    line-height: 1.6;
  }
  @include flexColCenter;
  align-items: center;
  .main-container {
    max-width: 1100px !important;
    height: auto;

    display: flex;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(black, 0.6);
  position: absolute;
}

.object-fit-cover {
  object-fit: cover;
}

.behance {
  &:hover{
    color: #053eff;
  }
}

.button {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1px;
  font-size: 0.9rem;
  transition: all 0.3s ease;

  &.light {
    background: $primeColor-light;
    color: $primeColor-darker;
    &:active {
      background: $press-color;
      color: $primeColor-light;
    }
    &:hover {
      background: $hover-color;
      color: $primeColor-light;
    }
  }
  &.dark {
    background: $primeColor-darker;
    color: $primeColor-light;

    &:active {
      background: $press-color;
      color: $primeColor-light;
    }
    &:hover {
      background: $hover-color;
      color: $primeColor-light;
    }
  }
}

.secondary-link {
  margin-top: 5vh;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
  display: inline-block;
  padding-bottom: 2px;
  position: relative;
  color: $primeColor-darker;
  width: 55px;
  font-weight: 600;
  text-transform: uppercase;
  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid $primeColor-darker;
    transition: width 0.3s;
  }
  &:active {
    color: $press-color;
    &::before {
      border-color: $hover-color;
    }
  }
  &:hover {
    color: $hover-color;
    &::before {
      width: 100%;
      transition: width 0.3s;
      border-color: $hover-color;
    }
  }
}

@media screen and (max-width: 900px) {
  .main-container {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .secondaryTitle {
    &.home1 {
      padding: 7vh 0 3vh 0;
    }

    &.home3 {
      padding: 0vh 0 3vh 0;
    }
  }
}
