.home-content1 {
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
  .home-image1 {
    width: 320px;
    height: 360px;
    background: red;
  }
}
.two-images-container {
  position: relative;
  .home-image3 {
    width: 400px;
    height: 660px;
    background: red;
  }
  .home-image2 {
    width: 240px;
    height: 360px;
    background: red;
    position: absolute;
    left: -47%;
    top: 13%;
  }
}
.home-title1 {
  font-size: 3rem;
  color: $primeColor-darker;
  padding: 7vh 0 3vh 0;
}
@media screen and (max-width: 1033px) {
  .two-images-container {
    .home-image2 {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  .home-content1 {
    padding-right: 0;
    .home-image1 {
      width: 100%;
    }
  }
  .two-images-container {
    .home-image3 {
      display: none;
    }
    .home-image2 {
      display: none;
    }
  }
}
